<div class="title-rolex-page">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 ">
            <div class="certified">Certified</div>
            <div class="square-luxury"><h3>LUXURY</h3></div>
        </div>
        <div class="col-md-4"></div>
    </div>    
</div>