<div class="navbar navbar-static-top">
    <div class="container">     
        <div class="title-rolex-page">
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 ">
                    <div class="certified">Certified</div>
                    <div class="square-luxury"><h3>LUXURY</h3></div>
                </div>
                <div class="col-md-4"></div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-lg-8">
                <ul class="nav nav-pills">
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            PRICE RANGE
                        </a>
                        <ul></ul>
                    </li>
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            MODEL
                        </a>
                        <ul class="dropdown-menu">
                            <watch-models></watch-models>
                        </ul>

                    </li>
                </ul>
            </div>

            <div class="social-container col-lg-4">
                <i class="fa fa-instagram social-link " aria-hidden="true"></i>
                <i class="fa fa-twitter social-link" aria-hidden="true"></i>
            </div>
        </div>


    </div>
</div>