.square-luxury{
    background-color: #A27F2D;
    color: #fff;
    text-align: center;
    font-family: 'Lobster', Tahoma, Arial, Helvetica, sans-serif;
}

.title-rolex-page .certified{
    color: #C1C1C3;
    text-align: center;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

.dropdown-menu{
    min-width: 600px;
    background:rgba(244,244,244,0.5);
}

span.model-category{
    color: #A57C3A;
}

span.model-short-description{
    color: #4D4D4F;
}

.watch-model-dropdown-container{
    padding-left: 5%;
}

.model-container > div{
    cursor: pointer
}

.model-container > div > span img {
    opacity: 0.5;    
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.model-container > div > span img:hover {
    opacity: 1.0;    
    filter: alpha(opacity=100); /* For IE8 and earlier */    
}

/*.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block;
}*/